
body,html{
    background: hsl(0, 0%, 8%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
    
}
.contener
{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%) ;
    width: 850px;
    height: 1500px;
    border-radius: 25px;
    align-items: center;

    
}
.imgen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%; 
    /*border: 5px solid white;*//* Puedes ajustar el grosor y el color del borde según tus preferencias */
}

.imgen img
{
    border-radius: 50%; /* Establece el radio de borde para hacer la imagen redonda */
    width: 200px; /* Ancho de la imagen */
    height: 200px; /* Altura de la imagen */
}

.letras1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.letras1 h1{
    font-family: 'Inter', sans-serif;
    margin-top: 0; /* Elimina el margen superior */
    margin-bottom: 0;
    font-size: 56px;  
    font-weight: 600;
    color: hsl(0, 0%, 100%)
}
.letras1 h2{    
    font-family: 'Inter', sans-serif;
    color: hsl(75, 94%, 57%);
    font-size: 30px;
}
.letras1 p{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter-regular', sans-serif;
    font-weight:normal;
    font-size:35px;
}
.botones
{
    display: flex;
    align-items: center;;
    flex-direction: column;
    height: 850px;
    justify-content: space-around;
}
.boton1
{
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 35px;
    font-family: 'Inter light Italic', sans-serif;   
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%); /* Color de fondo */
    width:700px;
    height: 120px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.boton1:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

  